.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

label {
  color: white;
}

body {
  background-image: url("../images/main-bg.jpg");
}

.nav .nav-tabs {
  border-bottom: none;
}

a {
  color: white;
}

i {
  color: #e74d58;
  background: none;
}

.sm-card {
  max-width: fit-content;
}

h1 {
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
  margin: 15px 10px 15px 10px;
  padding: 0;
}

.card-buttons {
  padding-left: 35px;
  margin-bottom: 15px;
}

.votes {
  padding-left: 25px;
}

.buy-button .info-button {
  margin-bottom: 10px;
  position: relative;
}

.alert {
  display: none;
}

.button-info {
  background: #2f374e;
}
