<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
    <title>About</title>
  </head>

  <body>
    {% block content %}
    <div
      class="card mb-3"
      style="max-width: fit-content; background-color: #a0b59f;"
    >
      <div class="row no-gutters">
        <div id="img-about" class="col-md-3 col-lg-4">
          <img
            src="{{book.image_url}}"
            class="card-img"
            alt="Book Cover Image"
          />
        </div>
        <div id="content-about" class="col-md-9 col-lg-8">
          <div class="card-body">
            <h2 class="card-title" style="text-align: center;">
              {{book.title}}
            </h2>
            <h2 style="text-align: center;">Written by {{book.author}}</h2>
            <h2 style="text-align: center;">Genre: {{book.genre}}</h2>
            <p class="card-text" style="font-size: x-large;">
              {{book.description}}
            </p>

            <div class="card-buttons">
              <button class="btn btn-sm btn-danger">
                <a
                  href="{{ url_for('edit_book', book_id=book._id) }}"
                  style="text-decoration: none;"
                  >Edit this book</a
                >
              </button>
              <button class="btn btn-sm btn-warning buy-button">
                <a
                  href="{{book.url_to_buy}}"
                  target="blank"
                  style="text-decoration: none;"
                  >Buy it online</a
                >
              </button>
            </div>
            <div class="votes">
              <button class="btn btn-sm like-button">
                <a href="{{ url_for('like_this', book_id=book._id) }}"
                  ><i class="fas fa-heart fa-2x"></i
                ></a>
              </button>
              <span>{{book.likes}}</span>

              <button class="btn btn-sm dislike-button">
                <a href="{{ url_for('dislike_this', book_id=book._id) }}"
                  ><i class="fas fa-heart-broken fa-2x"></i
                ></a>
              </button>
              <span>{{book.dislikes}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
