<!DOCTYPE html>
{% extends "base.html" %}
<html>

<head>
	<title>Add new book</title>
</head>

<body>
	{% block navul %}
	<li class="nav-item">
		<a class="nav-link" href="{{ url_for('get_books') }}">All Books</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false">Genre</a>
	</li>
	<li class="nav-item">
		<a class="nav-link " href="{{ url_for('add_book') }}">Add New Book</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="{{ url_for('add_genre') }}">Add New Genre</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ url_for('most_liked') }}">Most liked Ones</a>
	</li>
	{% endblock %}
	<!--Form to call insert_book-->
	{% block content %}
	<div class="row">
		<form action="{{ url_for('insert_genre') }}" method="POST">
			<div class="form-row">
				<div class="form-group">
					<label for="title">Genre</label>
					<input
	            type="text"
	            class="form-control"
	            id="genre"
	            name="genre"
	            required
	          />
	        </div>
				</div>
				<button type="submit" class="btn btn-sm btn-primary">Add Genre</button>
		</form>
	</div>
	{% endblock %}
</body>

</html>