<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
    <title>All Books</title>
  </head>

  <body>
    {% block content %} {% for book in books %}
    <div class="book-card col-12 col-lg-4 d-flex">
      <div class="card lg-3" style="margin-top: 20px;">
        <div class="row no-gutters">
          <div class="col-6 col-md-4">
            <a
              href="{{ url_for('about_book', book_id=book._id) }}"
              style="text-decoration: none;"
              ><img
                src="{{ book.image_url }}"
                class="card-img responsive"
                alt="Book cover image"
            /></a>
          </div>
          <div class="col-6 col-md-8">
            <div class="card-body">
              <h5 class="book-title">{{book.title}}</h5>
              <h6 class="book-author">{{book.author}}</h6>
            </div>
            <div class="card-buttons">
              <button class="btn btn-sm btn-warning buy-button">
                <a
                  href="{{book.url_to_buy}}"
                  target="blank"
                  style="text-decoration: none;"
                  >Buy it online</a
                >
              </button>

              <button class="btn btn-sm info-button">
                <a
                  href="{{ url_for('about_book', book_id=book._id) }}"
                  style="
                    text-decoration: none;
                    padding: 4px 8px 4px 8px;
                    margin: 5px 5px 5px 5px;
                    background: #7484b1;
                    color: white;
                  "
                  >More info</a
                >
              </button>
            </div>
            <div class="votes">
              <button class="btn btn-sm like-button">
                <a href="{{ url_for('like_this', book_id=book._id) }}"
                  ><i
                    class="fa fa-heart fa-2x"
                    style="color: #e74d58; background: none;"
                  ></i
                ></a>
              </button>
              <span>{{book.likes}}</span>

              <button class="btn btn-sm dislike-button">
                <a href="{{ url_for('dislike_this', book_id=book._id) }}"
                  ><i
                    class="fa fa-heart-broken fa-2x"
                    style="color: #e74d58; background: none;"
                  ></i
                ></a>
              </button>
              <span>{{book.dislikes}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}{% endblock content %}
  </body>
</html>
