<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
    <title>All Books</title>
  </head>

  <body>
    {% block content %} {% for book in books %}

    <div class="col-lg-4">
      <div class="card lg-3" style="max-width: 540px; margin-top: 20px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="{{ book.image_url }}"
              class="card-img"
              alt="Book cover iamge"
              style="margin: 5px 5px 5px 5px; max-width: 110px;"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="book-title">{{book.title}}</h5>
              <h6 class="book-author">{{book.author}}</h6>
              <button class="btn btn-sm btn-warning">
                <a
                  href="{{book.url_to_buy}}"
                  target="blank"
                  style="text-decoration: none;"
                  >Buy it online</a
                >
              </button>
              <button class="btn btn-sm btn-light">
                <a
                  href="{{ url_for('about_book', book_id=book._id) }}"
                  style="text-decoration: none;"
                  >More info</a
                >
              </button>
              <button class="btn btn-sm">
                <a href="{{ url_for('like_this', book_id=book._id) }}">likes</a>
              </button>
              <span>{{book.likes}}</span>
              <button class="btn btn-sm">
                <a href="{{ url_for('dislike_this', book_id=book._id) }}"
                  >dislikes</a
                >
              </button>
              <span>{{book.dislikes}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}{% endblock content %}
  </body>
</html>
