<!DOCTYPE html>
{% extends "base.html" %}
<html>

<head>
	<title>All Books</title>
</head>

<body>
	{% block content %}

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authors	  </button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for i in names %}
			<a class="dropdown-item" href="#">{{i}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genres</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for i in cats %}
			<a class="dropdown-item" href="#">{{i}}</a>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
</body>

</html>